*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.carousel-item {
    height: 500px;
    background-size: cover;
    background-position: center;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#quienes-somos i {
    color: #007bff;
}

.card-title {
    font-weight: bold;
}

.social-links i {
    font-size: 1.5rem;
}

