#HeroSection {
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}
#tarjetas {
    background-color: #17A2B8;
    padding: 20px;
}
